{% extends 'base.html' %}

{% block content %}

<section class="bg-light py-5">
    <div class="container">
      <h2 class="text-center mb-4">Características</h2>
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card border-0 shadow-sm h-100">
            <div class="card-body text-center">
              <h5 class="card-title">Fácil de usar</h5>
              <p class="card-text">Nuestra interfaz intuitiva hace que convertir tus archivos a PDF sea rápido y sencillo.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card border-0 shadow-sm h-100">
            <div class="card-body text-center">
              <h5 class="card-title">Múltiples formatos</h5>
              <p class="card-text">Convierte archivos en formatos como JPG, PNG, TIFF, WAV, PPT, XLSX, TXT y WEBP a PDF.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card border-0 shadow-sm h-100">
            <div class="card-body text-center">
              <h5 class="card-title">Alta calidad</h5>
              <p class="card-text">Nuestro avanzado algoritmo de conversión garantiza que tus archivos se conviertan a PDF con la más alta calidad.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
 

{% endblock %}