{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
  <section class="bg-light p-4 rounded text-center">
    <h2>Quiénes somos</h2>
    <p>Somos un equipo de desarrolladores con experiencia en la creación de aplicaciones web y la conversión de archivos. Nuestra aplicación permite a los usuarios convertir fácilmente varios tipos de archivos a PDF en unos pocos pasos simples.</p>
  </section>
  <section class="bg-light p-4 rounded mt-4 text-center">
    <h2>Cómo funciona</h2>
    <ol>
      <li>Cargue su archivo.</li>
      <li>Seleccione el tipo de archivo.</li>
      <li>Haga clic en 'Convertir' para obtener su archivo PDF.</li>
    </ol>
    <p>Estamos comprometidos a brindar un servicio de alta calidad y estamos siempre dispuestos a ayudar a nuestros usuarios en caso de tener preguntas o problemas.</p>
  </section>
</div>

<style>
  .container {
    max-width: 800px;
    margin: 0 auto;
  }

  section {
    margin-bottom: 30px;
  }

  h2 {
    margin-bottom: 15px;
  }
</style>







{% endblock %}